@import "@{templateCommon}/basekit-bootstrap.less";

body {
  background-color: @color-swatch7; 
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===============================
   CUSTOM CSS
   =============================== */

.main {
  padding: 0px 0px 40px;
}

body.edit .widget.navigation, body.edit .widget.extendednavigation {
  overflow: visible;
}

/* DEAFULT PAGE TYPES */

.bk-pt-default .extendednavigation ul li:hover > ul {
  border: 1px solid lighten(@color-swatch5,40%);
  border-top: 0;
}

.bk-pt-default .main {
    padding: 40px 0;
}

/* PAGE INTRO */

.pageintro {
  padding: 0.2em 0;
  background-color: lighten(@color-swatch5,46%);
}

.pageintro h4 {
  padding-bottom: 0;
  color: lighten(@color-swatch4,40%);
  text-shadow: 0px 1px 0px #fff;
  letter-spacing: 2px;
}

/* HEADER STRIPES */

.headerborder {
  margin: 0;
  padding: 0;
  height: 5px;
}

.headerborder li {
  float: left;
  width: 33.3%;
  height: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.headerborder li.color1 {
  background: @color-swatch2; 
  background: -moz-linear-gradient(left,  @color-swatch2 0%, lighten(@color-swatch2,10%) 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@color-swatch2), color-stop(100%,lighten(@color-swatch2,10%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  @color-swatch2 0%,lighten(@color-swatch2,10%) 100%);
  background: -o-linear-gradient(left,  @color-swatch2 0%,lighten(@color-swatch2,10%) 100%); 
  background: -ms-linear-gradient(left,  @color-swatch2 0%,lighten(@color-swatch2,10%) 100%); 
  background: linear-gradient(to right,  @color-swatch2 0%,lighten(@color-swatch2,10%) 100%); 
}

.headerborder li.color2 {
  background: @color-swatch3; 
  background: -moz-linear-gradient(left,  @color-swatch3 0%, lighten(@color-swatch3,10%) 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@color-swatch3), color-stop(100%,lighten(@color-swatch3,10%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  @color-swatch3 0%,lighten(@color-swatch3,10%) 100%);
  background: -o-linear-gradient(left,  @color-swatch3 0%,lighten(@color-swatch3,10%) 100%); 
  background: -ms-linear-gradient(left,  @color-swatch3 0%,lighten(@color-swatch3,10%) 100%); 
  background: linear-gradient(to right,  @color-swatch3 0%,lighten(@color-swatch3,10%) 100%); 
  width: 33.4%;
}

.headerborder li.color3 {
  background: @color-swatch4; 
  background: -moz-linear-gradient(left,  @color-swatch4 0%, lighten(@color-swatch4,10%) 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@color-swatch4), color-stop(100%,lighten(@color-swatch4,10%))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  @color-swatch4 0%,lighten(@color-swatch4,10%) 100%);
  background: -o-linear-gradient(left,  @color-swatch4 0%,lighten(@color-swatch4,10%) 100%); 
  background: -ms-linear-gradient(left,  @color-swatch4 0%,lighten(@color-swatch4,10%) 100%); 
  background: linear-gradient(to right,  @color-swatch4 0%,lighten(@color-swatch4,10%) 100%); 
}



/* ===============================
   HEADER
   =============================== */

.bk-header {
    background-color: transparent;
    border-bottom: 1px solid darken(@color-swatch2,10%);
    padding-bottom: 33px;
    .wrapper {
    padding: 20px 0;


    // Flex parent
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

      @media @tablet {
        display: block;
      }

    .companyheader {
      // Flex child
       -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-flex: 0;
      -moz-box-flex: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;

      // Flex parent
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-box-align: center;
      -moz-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      @media @mobile {
        display: block;
      }

      @media @tablet {
        padding-right: 50px;
        float: left;
      }

      .widget.companyname {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
      }
    }
    .extendednavigation {
      // Flex child
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
    }
  }
}






header.bk-header {
  padding: 0;
  background-color: @color-swatch7;
}

.companyheader {
  display: block;
  padding: 20px 0px 18px;
}

/* COMPANY NAME */

.widget.companyname {
  display: inline-block;
  vertical-align: middle;
}

.widget.companyname a {
  font-family:@font-swatch10-font-family;
  font-weight: @font-swatch10-font-weight;
  color:@font-swatch10-color;
  line-height:@font-swatch10-line-height;
  letter-spacing: @font-swatch10-letter-spacing;
  font-size: @font-swatch10-font-size;
}

.widget.companyname a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* LOGO */

.widget.logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  .logo, img {
    line-height: 0;
  }
}


/* ===============================
   FOOTER
   =============================== */

footer.bk-footer {
  padding: 3em 0;
  background-color: darken(@color-swatch4,8%);
  color: @color-swatch1;
}

footer.bk-footer h1, footer h2, footer h3, footer h4 {
  color: @color-swatch1;
  padding-bottom: 6px;
}

footer.bk-footer h4 {
  color: lighten@color-swatch2;
  letter-spacing: 2px;
}

footer.bk-footer p, footer {
  font-family: @font-swatch5-font-family;
  color: lighten(@color-swatch5,10%);
  line-height:@font-swatch5-line-height;
  font-weight: 200;
}

footer.bk-footer span {
  color: @color-swatch1;
}

footer.bk-footer .widget.companyname a {
  color: @color-swatch1;
}


/* ===============================
   STANDARD NAVIGATION
   =============================== */

.widget.navigation {
}

.widget.navigation ul {
  padding: 0;
  margin: 20px 0 0;
}

.widget.navigation ul.align-center li
{
  text-align: center;
}

.widget.navigation ul.align-left li
{
  text-align: left;
}

.widget.navigation ul.align-right li
{
  text-align: right;
}

.widget.navigation ul li {
  float: left;
  display: block;
  padding-right: 40px;
}

.widget.navigation ul li a {
  display: block;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
}

.widget.navigation ul li a:hover {
  text-decoration: none;
  color: @color-swatch3;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget.extendednavigation {
  position: relative;
  margin: 20px 0;
  li.selected {
    .text {
      color: @color-swatch3;
    }
  }
}

.widget.extendednavigation a.pull {
  top: 0;
}

.widget.extendednavigation ul {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
  }
}

/* ALIGNMENTS */

.widget.extendednavigation ul.align-center li, .widget.extendednavigation ul.align-center li:hover ul li {
  text-align: center;
}

.widget.extendednavigation ul.align-left li, .widget.extendednavigation ul.align-left li:hover ul li
{
  text-align: left;
}

.widget.extendednavigation ul.align-right li, .widget.extendednavigation ul.align-right li:hover ul li
{
  text-align: right;
}

.widget.extendednavigation ul li {
  float: left;
  display: block;
}

.widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
  display: block;
  padding: 12px 30px;
  font-family:@font-swatch6-font-family;
  font-size:@font-swatch6-font-size;
  font-weight: @font-swatch6-font-weight;
  color: @font-swatch6-color;
  line-height:@font-swatch6-line-height;
  letter-spacing: @font-swatch6-letter-spacing;
}

.widget.extendednavigation ul li a:hover, .widget.extendednavigation ul li.folder .text:hover {
  color: @font-swatch6-color-hover;
  text-decoration: none;
}

/* FOLDER */

.widget.extendednavigation ul li.folder {
}

.widget.extendednavigation ul li.folder .text:hover {
  color: @color-swatch3;
}

/* DROPDOWN MENU */

.widget.extendednavigation li > ul {
  display: none;
}

.widget.extendednavigation li:hover > ul {
  display: block;
  width: 46%;
  position: absolute;
  background-color: @color-swatch7;
  /*border: 1px solid lighten(@color-swatch5,35%);*/
  box-shadow: 5px 5px 0px rgba(110, 110, 110, 0.2);
  border-top: 0;
  z-index: 500;
  padding: 14px 0;
  margin: 0;
}

.widget.extendednavigation li:hover > ul > li {
  display: block;
  width: 100%;
  padding: 0 30px 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.widget.extendednavigation li:hover > ul > li > a {
  display: block;
  color: @color-swatch5;
}


.widget.extendednavigation ul li:hover > ul li .text {
  padding: 0 0 0 16px;
  background-image: image('/images/arrow-left.png');
  background-position: left center;
  background-repeat: no-repeat;
}


/* EXTENDED NAVIGATION - INSIDE ZONE */

.main .widget.extendednavigation {
    max-width: 100%;
    width: 100%;
    float: none;
}

.main .widget.extendednavigation:before,
.main .widget.extendednavigation:after {
  content: " ";
  display: table;
}
.main .widget.extendednavigation:after {
  clear: both;
}
.main .widget.extendednavigation {
  *zoom: 1;
}

/* ===============================
   FEATURE
   =============================== */

 .widget.feature {

}

.widget.feature .feature-bgimg {
  height: 500px;
 }

.widget.feature .content {
  height: 500px;
  text-align: center;
}

.widget.feature .content .spare {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  max-width: 820px;
}

/* FEATURE TITLE */

.widget.feature h2 {
  font-family:@font-swatch8-font-family;
  font-size:@font-swatch8-font-size;
  font-weight: @font-swatch8-font-weight;
  line-height:@font-swatch8-line-height;
  color: @font-swatch8-color;
  /*letter-spacing: @font-swatch8-letter-spacing;*/
  letter-spacing: 2px;
  max-width: 580px;
  margin: 0 auto 10px;
}

/* FEATURE STRAPLINE */

.widget.feature h3 {
  font-family:@font-swatch9-font-family;
  font-size:@font-swatch9-font-size;
  font-weight: @font-swatch9-font-weight;
  line-height:@font-swatch9-line-height;
  color: @font-swatch9-color;
  letter-spacing: 1px;
  /*letter-spacing: @font-swatch9-letter-spacing;*/
}

/* FEATURE BUTTON */

.widget.feature button
{
  margin: 2em 0 0em;
  padding: 17px 30px;
  border: 1px solid darken(@color-swatch3,2%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.7), inset 0px 2px 2px rgba(255,255,255,0.3);

  font-family: @font-swatch7-font-family;
  font-weight:@font-swatch7-font-weight;
  color: @font-swatch7-color;
  letter-spacing: 4px;
  font-size: 1.01em;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);

  background: @color-swatch3; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -moz-linear-gradient(top,  lighten(@color-swatch3,10%) 0%, @color-swatch3 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@color-swatch3,10%)), color-stop(100%,@color-swatch3)); 
  background: -webkit-linear-gradient(top,  lighten(@color-swatch3,10%) 0%,@color-swatch3 100%); 
  background: -o-linear-gradient(top,  lighten(@color-swatch3,10%) 0%,@color-swatch3 100%); 
  background: -ms-linear-gradient(top,  lighten(@color-swatch3,10%) 0%,@color-swatch3 100%);
  background: linear-gradient(to bottom,  lighten(@color-swatch3,10%) 0%,@color-swatch3 100%); 
}

.widget.feature button:hover 
{
  background: @color-swatch3; 
  cursor: pointer;
}

.widget.feature button:active {
  box-shadow: inset 0 0 6px rgba(255,255,255,0.9);
}

.widget.feature button.btn.justifyleft
{
    text-align: left;
}

.widget.feature button.btn.justifycenter
{
    text-align: center;
}

.widget.feature button.btn.justifyright
{
    text-align: right;
}

.widget.feature button.btn.justifyfull
{
    text-align: justify;
}

.widget.feature button.btn.italic {
    font-style: italic;
}

.widget.feature button.btn.bold {
    font-weight: bold;
}

.widget.feature button span {
    vertical-align: center;
}

.widget.feature button i {
    margin-right: 5px;
}

/* ===============================
   FEATURE LAYOUTS
   =============================== */

/* LEFT ALIGN */

.widget.feature.align-left .content {
  width: 100%;
  text-align: left;
}

/* CENTER ALIGN */

.widget.feature.align-center .content {
  width: 100%;
  text-align: center;
}

/* RIGHT ALIGN */

.widget.feature.align-right .content {
  width: 100%;
  text-align: right;
}

/* ===============================
   PAYPAL BUTTON
   =============================== */


.widget.paypalbuynow .widget.button.paypal {
  background-size: 18px;
  background-color: @color-swatch2;
  border: 1px solid darken(@color-swatch2,2%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.7), inset 0px 2px 2px rgba(255,255,255,0.3);
  letter-spacing: 3px;
  font-size: .9em;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

/* ===============================
   DROPBOX BUTTON
   =============================== */

.widget.dropbox .b-wrap .btn {
  padding: 14px 16px 14px 45px;
  background-size: 18px;
  background-color: @color-swatch2;
  border: 1px solid darken(@color-swatch2,2%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.7), inset 0px 2px 2px rgba(255,255,255,0.3);
  letter-spacing: 3px;
  font-size: .9em;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}


/* ===============================
   BUTTON CSS
   =============================== */

.widget.button {
    padding: 0;
}

.widget.button button
{
  margin: 0;
  padding: 13px 22px;
  border: 1px solid darken(@color-swatch2,2%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.7), inset 0px 2px 2px rgba(255,255,255,0.3);

  font-family: @font-swatch7-font-family;
  font-weight:@font-swatch7-font-weight;
  color: @font-swatch7-color;
  letter-spacing: 3px;
  font-size: .9em;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);

  background: @color-swatch2; 
  background: -moz-linear-gradient(top,  lighten(@color-swatch2,10%) 0%, @color-swatch2 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@color-swatch2,10%)), color-stop(100%,@color-swatch2)); 
  background: -webkit-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
  background: -o-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
  background: -ms-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%);
  background: linear-gradient(to bottom,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
}

.widget.button button:hover 
{
  background: @color-swatch2; 
  cursor: pointer;
}

.widget.button button:active {
  box-shadow: inset 0 0 6px rgba(255,255,255,0.9);
}


/* JUSTIFY */

.widget.button button.btn.justifyleft
{
    text-align: left;
}

.widget.button button.btn.justifycenter
{
    text-align: center;
}

.widget.button button.btn.justifyright
{
    text-align: right;
}

.widget.button button.btn.justifyfull
{
    text-align: justify;
}

.widget.button button.btn.italic {
    font-style: italic;
}

.widget.button button.btn.bold {
    font-weight: bold;
}

.widget.button span {
    vertical-align: center;
}

.widget.button i {
    margin-right: 5px;
}

/* ===============================
   CONTENT CSS
   =============================== */


.widget.content
{
    padding: 0;
}

.widget.content span.expand
{
    font-family: @font-swatch3-font-family;
    background-color: @color-swatch3;
    color: @font-swatch7-color;
    font-size: @font-swatch5-font-size;
    padding: 4px 8px;
    margin: 4px 0;
    /*-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    cursor: pointer;
    display: inline-block;
}

.widget.content span.expand:hover,
.widget.content span.expand:focus
{
    cursor: pointer;
    background-color: darken(@color-swatch3,5%);
}

@media only screen and (min-width: 768px) {
    .widget.content .bk-content-text {
        overflow: visible!important;
        height: auto!important;
    }
    .widget.content span.expand {
        display:none!important;
    }
}

/* ===============================
   IMAGE WIDGET
   =============================== */

.widget.image img {
    display: block;
    max-width: 100%;
    border: 0;
    border-width: 0;
}

.widget.image {
}

.widget.image span.image-title {
    display: block;
    margin:5px;
    font-family: @font-swatch4-font-family;
    font-weight: @font-swatch4-font-weight;
    font-size: @font-swatch4-font-size;
    text-align: center;
    line-height: @font-swatch4-line-height;
}

.widget.image span.image-description {
    display: block;
    margin:5px;
    text-align: center;
    font-family: @font-swatch5-font-family;
    font-weight: @font-swatch5-font-weight;
    font-size: @font-swatch5-font-size;
    line-height: @font-swatch5-line-height;
}

/* ===============================
   GALLERY WIDGET
   =============================== */

.widget.gallery
{
}

.widget.gallery ul {
    display:block;
    margin: 0;
    padding:0px;
    list-style: none;
}

.widget.gallery li {
    float: left;
    position: relative;
    width: 33.3%;
    padding-bottom: 33%;
}

.widget.gallery li  span.inner {
    background-position:center center;
    background-repeat:no-repeat;
    background-color: @color-swatch1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.widget.gallery ul li.one-to-one span.inner
{
    background-size:100% 100%;
}

.widget.gallery ul li.portrait span.inner
{
    background-size:100% auto;
}

.widget.gallery ul li.landscape span.inner
{
    background-size:auto 100%;
}

.widget.gallery li span.inner {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 0px;
    bottom: 16px;
    overflow: hidden;
}

.widget.gallery li span.inner img {
    display:none;
}

.widget.gallery ul:before,
.widget.gallery ul:after {
  content: " ";
  display: table;
}
.widget.gallery ul:after {
  clear: both;
}
.widget.gallery ul {
  *zoom: 1;
}

.widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: -310px;
    max-height: 284px;
    background:@color-swatch1;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    color:@font-swatch5-color;
    letter-spacing: @font-swatch5-letter-spacing;
}
.widget.gallery li span.inner:hover .title {
   margin-bottom: 0;
}

.widget.gallery li span.inner .description {
  display: none;
}

.widget.gallery li span.inner a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Lightbox */

.lb-data .lb-caption, .lb-data .lb-number {
  font-family:@font-swatch5-font-family;
  font-size:@font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height:@font-swatch5-line-height;
  color:lighten(@font-swatch5-color,50%);
}

.lb-data .lb-number {
  font-size:bkscale(@font-swatch5-font-size,0.9);
}


/* ===============================
   DIVIDER WIDGET
   =============================== */

.widget.line {
    padding: 20px 0;
}

hr.line {
   background-color: lighten(@color-swatch5,40%);
   height: 1px;
   width: 100%;
   border: none;
}

hr.line.align-left {
   margin: 20px auto 20px 0px;
}

hr.line.align-center {
   margin: 20px auto;
}

hr.line.align-right {
   margin: 20px 0px 20px auto;
}


/* ===============================
   CLICK TO CALL WIDGET
   =============================== */

.widget.clicktocall {
   
}

.widget.clicktocall a {
  
  font-family: @font-swatch5-font-family;
  font-weight:@font-swatch5-font-weight;
  color: @font-swatch5-color;
  letter-spacing: @font-swatch5-letter-spacing;
  font-size: @font-swatch5-font-size;
  text-decoration: none;
}

.widget.clicktocall a:hover {
  cursor: pointer;
}


/* CLICK TO CALL - JUSTIFY */

.widget.clicktocall a.justifyleft
{
    text-align: left;
}

.widget.clicktocall a.justifycenter
{
    text-align: center;
}

.widget.clicktocall a.justifyright
{
    text-align: right;
}

.widget.clicktocall a.justifyfull
{
    text-align: justify;
}

.widget.clicktocall a.italic {
    font-style: italic;
}

.widget.clicktocall a.bold {
    font-weight: bold;
}

/* ===============================
   REDIRECT WIDGET
   =============================== */

.widget.redirecttodesktop {
    padding: 8px 0;
}

.widget.redirecttodesktop a {
    padding-right: 30px;
    padding-top: 2px;
    background-image: image('/images/desktop.png');
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-decoration: none;
    cursor: pointer;
    color: @font-swatch5-color;
    font-family: @font-swatch5-font-family;

}

.widget.redirecttodesktop a:hover, .desktop a:active {
    background-image: image('/images/desktop.png');
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
    text-decoration: underline;
}

/* ===============================
   TWITTER WIDGET
   =============================== */


.widget.twitter {
  padding: 20px;
  margin: 0 0 2px;
  background-color: lighten(@color-swatch5,46%);
}

.widget.twitter p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6em;
  color: @color-swatch1;
  letter-spacing: 0.09em;
  padding-bottom: 14px;
}

.svg .widget.twitter .twitter-content {
  background-color: @color-swatch3;
  padding: 30px 30px 30px 30px;
}

.widget.twitter .twitter-content {
}

.widget.twitter span, .widget.twitter time, .widget.twitter a {
  color: lighten(@color-swatch3,25%);
  font-size: 1.1em;
  letter-spacing: 2px;
}

.widget.twitter img {
  display: none;
}

.widget.twitter ul {
    padding: 0px;
    margin: 0;
    background-color: @color-swatch3;
}

.widget.twitter ul li {
    list-style: none;
    font-family: @font-swatch5-font-family;
    font-size: .6em;
    color: @font-swatch5-color;
    border-bottom: 2px solid darken(@color-swatch3,10%);
}

.widget.twitter ul li:last-child {
  border-bottom: 0;
}

.widget.twitter .twitter-profile-pic a {
  border-bottom: 0;
  padding-bottom: 0;
}

.widget.twitter .twitter-content span.bk-full-name {
    display: none;
}

/* ===============================
   CONTACT FORM WIDGET
   =============================== */

.widget.contactform form {
    display: block;
    padding: 20px;
    margin: 0;
    background-color: lighten(@color-swatch5,46%);
}

.widget.contactform fieldset {
    border: none;
    padding: 0;
    background-color: @color-swatch1;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(110,110,110,0.1);
}

.widget.contactform fieldset label {
    width: 100%;
    float: left;
    font-family:@font-swatch1-font-family;
    font-size:font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@color-swatch4;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.contactform fieldset input {
    height: 50px;
    width: 50%;
    background-color: darken(@color-swatch1,5%);
    border: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 12px;
    margin-top: 6px;
    margin-bottom: 30px;
}

.widget.contactform fieldset textarea {
    height: 132px;
    width: 100%;
    background-color: darken(@color-swatch1,5%);
    border: none;
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 8px;
    padding-top: 14px;
    margin-top: 6px;
    margin-bottom: 20px;
    resize: none;
}

.widget.contactform fieldset input:focus, .widget.contactform fieldset textarea:focus {
  outline: none;
}

/* PLACEHOLDER CSS */

::-webkit-input-placeholder { /* WebKit browsers */
    color:    lighten(@color-swatch5,20%);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    lighten(@color-swatch5,20%);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    lighten(@color-swatch5,20%);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    lighten(@color-swatch5,20%);
}

.widget.contactform fieldset button.btn {
  margin: 0;
  padding: 12px 20px;
  border: 1px solid darken(@color-swatch2,2%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.7), inset 0px 2px 2px rgba(255,255,255,0.3);

  font-family: @font-swatch7-font-family;
  font-weight:@font-swatch7-font-weight;
  color: @font-swatch7-color;
  letter-spacing: 2px;
  font-size: .8em;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);

  background: @color-swatch3; 
  background: -moz-linear-gradient(top,  lighten(@color-swatch2,10%) 0%, @color-swatch2 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@color-swatch2,10%)), color-stop(100%,@color-swatch2)); 
  background: -webkit-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
  background: -o-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
  background: -ms-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%);
  background: linear-gradient(to bottom,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
}
  
.widget.contactform fieldset button.btn:hover {
  background: @color-swatch2; 
  cursor: pointer;
}

.widget.contactform fieldset button.btn:active {
  box-shadow: inset 0 0 6px rgba(255,255,255,0.9);
}

.widget.contactform fieldset button.btn.justifyleft
{
    text-align: left;
}

.widget.contactform fieldset button.btn.justifycenter
{
    text-align: center;
}

.widget.contactform fieldset button.btn.justifyright
{
    text-align: right;
}

.widget.contactform fieldset button.btn.justifyfull
{
    text-align: justify;
}

.widget.contactform fieldset button.btn.italic {
    font-style: italic;
}

.widget.contactform fieldset button.btn.bold {
    font-weight: bold;
}


/* ===============================
  BLOG
   =============================== */

.widget {
    &.blogpostlist {
        .blog-post-item {
            border-bottom: 1px solid @color-swatch5;
            margin-bottom: 30px;
        }

    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        button {
            padding: 10px;
            color: @font-swatch7-color;
            font-size: @font-swatch6-font-size;
            font-weight: @font-swatch6-font-weight;
            line-height: @font-swatch6-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
        }
    }
}


/* ===============================
   TWEET THIS WIDGET
   =============================== */

.widget.tweet {
   padding: 0px; 
}

.widget.tweet .tweet {
    padding: 14px 0;
}

.widget.tweet a {
    margin: 0;
    padding: 13px 13px 13px 46px;
    margin: 1em 0em;
    border: 1px solid darken(@color-swatch2,2%);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.7), inset 0px 2px 2px rgba(255,255,255,0.3);
  
    font-family: @font-swatch7-font-family;
    font-weight: inherit;
    color: @font-swatch7-color;
    letter-spacing: 3px;
    font-size: .9em;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    background-color: @color-swatch2; 
    background-image: image('/images/twitter.png');
    background-size: 20px; 
    background-repeat: no-repeat;
    background-position: 16px center;
}

.widget.tweet a:hover {
  background-image: image('/images/twitter.png');
  background-color: @color-swatch2; 
  cursor: pointer;
}

.widget.tweet a:active {
  box-shadow: inset 0 0 6px rgba(255,255,255,0.9);
}

/* ==================================
   SOCIAL BAR WIDGET / SOCIAL PROFILE
   =============================== */

.widget.socialicons, .widget.profile .bk-profile-socialicons {
    padding: 9px 0;
    font-size:1em;
    font-family:@font-swatch7-font-family;
}

.widget.socialicons a, .widget.profile .bk-profile-socialicons a {
    text-decoration: none;
    text-indent: -9999px;
    white-space: nowrap;
}

.widget.profile .bk-profile-socialicons span {
  display: inline-block;
}

.widget.socialicons span a, .widget.profile .bk-profile-socialicons span a {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    background-size: 18px;
    width: 32px;
    height: 32px;
    border: 1px solid darken(@color-swatch2,5%);
    background-color: @color-swatch2;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.widget.socialicons span a:hover, .widget.profile 
.bk-profile-socialicons span a:hover {
    background-color: @color-swatch2;
}

/* SVG ICONS */

.svg .widget.socialicons span.bk-socialicons-twitter a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a {
    background-image: image('/images/social/socialicons-twitter.svg');
}

.svg .widget.socialicons span.bk-socialicons-linkedin a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a {
    background-image: image('/images/social/socialicons-linkedin.svg')
}

.svg .widget.socialicons span.bk-socialicons-facebook a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a {
    background-image: image('/images/social/socialicons-facebook.svg')
}

.svg .widget.socialicons span.bk-socialicons-rss a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-rss a {
    background-image: image('/images/social/socialicons-rss.svg')
}

.svg .widget.socialicons span.bk-socialicons-googleplus a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a {
    background-image: image('/images/social/socialicons-googleplus.svg')
}

.svg .widget.socialicons span.bk-socialicons-youtube a,
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a {
    background-image: image('/images/social/socialicons-youtube.svg')
}

/* PNG ICONS */

.widget.socialicons span.bk-socialicons-twitter a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a {
    background-image: image('/images/social/socialicons-twitter.png');
}

.widget.socialicons span.bk-socialicons-linkedin a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a {
    background-image: image('/images/social/socialicons-linkedin.png')
}

.widget.socialicons span.bk-socialicons-facebook a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a {
    background-image: image('/images/social/socialicons-facebook.png')
}

.widget.socialicons span.bk-socialicons-rss a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-rss a {
    background-image: image('/images/social/socialicons-rss.png')
}

.widget.socialicons span.bk-socialicons-googleplus a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a {
    background-image: image('/images/social/socialicons-googleplus.png')
}

.widget.socialicons span.bk-socialicons-youtube a,
.widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a {
    background-image: image('/images/social/socialicons-youtube.png')
}


/* ===============================
   PROFILE WIDGET
   =============================== */

.widget.profile span, .widget.profile a {
  display: block;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight: @font-swatch5-font-weight;
  line-height: @font-swatch5-line-height;
  color: lighten(@font-swatch5-color,15%);
  letter-spacing: @font-swatch5-letter-spacing;
}

.widget.profile a:hover {
  color: @color-swatch1;
  text-decoration: none;
}

/* FOOTER PROFILE - TWITTER */

.widget.profile ul.twitter {
  padding: 0px;
  margin: 0px;
}

.widget.profile ul.twitter li {
  list-style: none;
}

.widget.profile ul.twitter p {
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight: 300;
  line-height: @font-swatch5-line-height;
  color: lighten(@font-swatch5-color,15%);
  letter-spacing: @font-swatch5-letter-spacing;
}

.widget.profile ul.twitter img, .widget.profile ul.twitter time,
.widget.profile ul.twitter span {
  display: none;
}

/* FOOTER PROFILE - SIGNUP FORM */

.widget.profile form {
  padding: 0px;
}

.widget.profile form fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.widget.profile form label {
  display: none;
  width: 100%;
  float: left;
  margin-bottom: 6px;
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight: 300;
  line-height: @font-swatch5-line-height;
  color: lighten(@font-swatch5-color,15%);
  letter-spacing: @font-swatch5-letter-spacing;
}

.widget.profile form input {
  height: 42px;
  background-color: darken(@color-swatch4,3%);
  border: 1px solid darken(@color-swatch4,13%);
  font-family: @font-swatch5-font-family;
  font-size: @font-swatch5-font-size;
  font-weight: 300;
  line-height: @font-swatch5-line-height;
  color: lighten(@font-swatch5-color,25%);
  letter-spacing: @font-swatch5-letter-spacing;
  margin-bottom: 20px;
  text-indent: 16px;
  -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;

}

.widget.profile form input:focus {
  outline: none;
}

.widget.profile form button {
  margin: 0;
  padding: 12px;
  border: 1px solid darken(@color-swatch2,2%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: inset 0px 2px 2px rgba(255,255,255,0.3);

  font-family: @font-swatch7-font-family;
  font-weight:@font-swatch7-font-weight;
  color: @font-swatch7-color;
  letter-spacing: 3px;
  font-size: .9em;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);

  background: @color-swatch2; 
  background: -moz-linear-gradient(top,  lighten(@color-swatch2,10%) 0%, @color-swatch2 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@color-swatch2,10%)), color-stop(100%,@color-swatch2)); 
  background: -webkit-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
  background: -o-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
  background: -ms-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%);
  background: linear-gradient(to bottom,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
}

.widget.profile form button:hover {
  cursor: pointer;
  background-color: @color-swatch2;
}



/* ===============================
   MAP WIDGET
   =============================== */

.widget.map  {
  margin: 0px;
  padding: 20px;
  background-color: lighten(@color-swatch5,46%);
}

.widget.map .map {
  box-shadow: 0px 0px 10px rgba(110,110,110,0.1);
}


/* ===============================
   SIGNUP FORM WIDGET
   =============================== */

.widget.signupform {
  padding: 0px;
}

.widget.signupform fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.widget.signupform label {
    font-family:@font-swatch1-font-family;
    font-size:font-swatch4-font-size;
    font-weight:@font-swatch4-font-weight;
    line-height:@font-swatch4-line-height;
    color:@color-swatch4;
    letter-spacing: @font-swatch4-letter-spacing;
}

.widget.signupform fieldset input {
    height: 42px;
    background-color: lighten(@color-swatch5,46%);
    border: 1px solid lighten(@color-swatch5,40%);
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    color: @font-swatch5-color;
    text-indent: 12px;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.widget.signupform fieldset input:focus {
  outline: none;
}

.widget.signupform button {
  margin: 0;
  padding: 3px 22px;
  border: 1px solid darken(@color-swatch2,2%);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.7), inset 0px 2px 2px rgba(255,255,255,0.3);

  font-family: @font-swatch7-font-family;
  font-weight:@font-swatch7-font-weight;
  color: @font-swatch7-color;
  letter-spacing: 3px;
  font-size: .9em;
  text-decoration: none;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);

  background: @color-swatch2; 
  background: -moz-linear-gradient(top,  lighten(@color-swatch2,10%) 0%, @color-swatch2 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@color-swatch2,10%)), color-stop(100%,@color-swatch2)); 
  background: -webkit-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
  background: -o-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
  background: -ms-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%);
  background: linear-gradient(to bottom,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
}

.widget.signupform button:hover {
  cursor: pointer;
  background-color: @color-swatch2;
}

.widget.signupform button:active {
  box-shadow: inset 0 0 6px rgba(255,255,255,0.9);
}


/* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow .slideshow-widget-wrapper {
  height: 550px;
}

.widget.responsiveslideshow .slideshow-widget .btn-prev, .widget.responsiveslideshow .slideshow-widget .btn-next{
  width: 72px;
  height: 72px;
}

.widget.responsiveslideshow .slideshow-image-list {
    height: 500px;
}

.widget.responsiveslideshow .slideshow-widget {
    background-color: lighten(@color-swatch5,17%);
}
.widget.responsiveslideshow span.inner img {
    width:auto;
}

.widget.responsiveslideshow .image-wrapper {
    padding:15px;
}

.widget.responsiveslideshow .crop .image-wrapper {
    padding:0;
}

.widget.responsiveslideshow .content-wrapper {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    top:auto;
    background-color: hsla(hue(@color-swatch2), saturation(@color-swatch2), lightness(lighten(@color-swatch4,10%)), 1); 
}

.widget.responsiveslideshow .title {
    display: inline-block;
    padding:5px 20px 0 20px;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:bkscale(@font-swatch5-line-height, 0.55);
    color: @color-swatch1;
    letter-spacing: @font-swatch5-letter-spacing;
}

.widget.responsiveslideshow .description {
    display: block;
    padding: 6px 20px;
    font-family:@font-swatch5-font-family;
    font-size:@font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:bkscale(@font-swatch5-line-height, 0.55);
    color: @color-swatch1;
    letter-spacing: @font-swatch5-letter-spacing;
}

.widget.responsiveslideshow .slideshow-widget .btn-prev, 
.widget.responsiveslideshow .slideshow-widget .btn-next {
    font-size: 0;
    z-index: 11;
    text-indent: -99999px;
    background-color: rgba(255,255,255,0.2);
    background-position: center center;
    background-repeat: no-repeat;
}

.widget.responsiveslideshow .slideshow-widget .btn-prev {
  background-image: image('/images/slideshow-arrow-left.png');
  left: 0;
}

.widget.responsiveslideshow .slideshow-widget .btn-next {
  right: 0;
  background-image: image('/images/slideshow-arrow-right.png'); 
}

.widget.responsiveslideshow .slideshow-widget-controls {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  height: 72px;
  position: relative;
  float: left;
  width: 100%;
}

.widget.responsiveslideshow .slideshow-widget .btn-play
{
    background: image('/images/slideshow-play.png') center no-repeat;
    background-size: 100%;
    border-radius:10px;
    font-size:0;
    text-indent: -99999px;
}

.widget.responsiveslideshow .slideshow-widget:hover .btn-play.pause
{
    background: image('/images/slideshow-pause.png') center no-repeat;
    background-size: 100%;  
}

.widget.responsiveslideshow .slideshow-widget-controls .dot
{
  border: none;
  cursor: pointer;
  background-color: @color-swatch5;
  border-radius: 50%;
  width: 18px;
  height: 18px; 
  margin: 27px 5px;
}

.widget.responsiveslideshow .slideshow-widget-controls .dot.selected
{
    background-color: @color-swatch2;
}



/* ===============================
   IPAD WIDTH
   =============================== */

@media only screen and (max-width: 768px) {

  .canvas {
    width: 100%;
  } 

  /* NAV */

  .widget.extendednavigation {
    width: 100%;
    margin: 43px 0 0 0;
    padding: 0;
  }

  .widget .extendednavigation {
    display: block;
    float: left;
    width: 100%;
  }

    .widget .extendednavigation ul {
        width: 100%;
        display: none;
        padding: 0; 
    }

    .widget .extendednavigation li {
        width: 100%;
        padding: 0;
        &:last-of-type {
          border-bottom: none;
        }
    }

    .widget.extendednavigation ul li a, .widget.extendednavigation ul li.folder .text {
        padding: 12px 0;
    }

    .widget.extendednavigation ul li .text, .widget.extendednavigation ul li.folder .text {
        padding-left: 20px;
        background-position: left center;
        background-repeat: no-repeat;
    }

    .widget.extendednavigation ul li > ul {
        display: none!important;
    }

    .widget.extendednavigation ul li:hover > ul {
        display: block!important;
        width: 100%;
        border: 1px solid lighten(@color-swatch3,35%);
    }

    .widget.extendednavigation ul li:hover > ul  {
        margin-top: 0;
    }

    .widget.extendednavigation ul li:hover > ul li {
        padding: 0 30px;
    }

    .widget.extendednavigation ul li:hover > ul li .text, .widget.extendednavigation ul li:hover > ul li.folder .text {
        background-image: image('/images/arrow-left-gr.png');
        background-position: left center;
        background-repeat: no-repeat;
    }

    /* EXTENDED NAVIGATION - INSIDE ZONE */

    .main .widget.extendednavigation ul {
        display: block;
    }

  /* FEATURE */

  .widget.feature h2 {
    font-size: bkscale(@font-swatch8-font-size,0.8);
    margin-bottom: 16px;
  }

  .widget.feature h3 {
    font-size: bkscale(@font-swatch8-font-size,0.6);
  }

  .widget.feature button {
    margin: 1.5em 0;
    font-size: .9em;
    padding: 14px 20px;
  }

   .widget.feature .feature-bgimg {
    height: 400px;
   }

  .widget.feature .content {
    height: 400px;
  }

  /* SLIDESHOW */

  .widget.responsiveslideshow .slideshow-widget-controls {
    padding: 0;
  }

  .widget.responsiveslideshow .slideshow-widget-controls .dot {
    height: 10px;
    width: 10px;
   }

    /* GALLERY */

    .widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
      max-height: 220px;
      font-size:bkscale(@font-swatch5-font-size,0.9);
      line-height:bkscale(@font-swatch5-line-height,0.9);
    }

    /* SLIDESHOW */

    .widget.responsiveslideshow .slideshow-widget-wrapper {
        height: 400px;
    }

    .widget.responsiveslideshow .slideshow-widget, .widget.responsiveslideshow .slideshow-image-list {
        height: 350px;
    }

    .widget.responsiveslideshow .slideshow-widget .btn-prev, 
    .widget.responsiveslideshow .slideshow-widget .btn-next {
        background-size: 15px;
    }

    .widget.responsiveslideshow .slideshow-widget-controls .dot {
        height: 13px;
        width: 13px;
        margin: 29px 5px;
    }

    /* FORMS */

    .widget.contactform fieldset input {
        width: 100%;
    }

    .widget.signupform label {
        width: 100%;
        float: left;
    }

    .widget.contactform form, .widget.twitter, .widget.map {
        padding: 14px;
    }

    /* TWITTER WIDGET */

  .widget.twitter p {
    font-size: 14px;
  }

  .widget.twitter .twitter-content {
    padding: 30px;
    background-image: none;
  }
  .widget .extendednavigation ul.align-right li.folder:after {
    left: 5px;
    right: inherit;
  }

}


/* ===============================
   IPHONE WIDTH
   =============================== */

@media only screen and (max-width: 480px) { 

  /* UL ALIGN RIGHT */

  .widget.extendednavigation ul.align-right li.folder {
    background-position: 12px center;
    padding-right: 0;
  }

  /* FEATURE */

  .widget.feature {
  }

  .widget.feature .feature-bgimg {
    height: 220px; 
   }

  .widget.feature .content {
    height: 220px;
    padding: 40px 0;
  }

  .widget.feature h2 {
    line-height: 1.5;
  }

  .widget.feature button {
    font-size: .8em;
    padding: 11px 14px;
  }


  /* SLIDESHOW */

  .widget.responsiveslideshow .title {
    padding-bottom:13px;
  }

  .widget.responsiveslideshow .description {
    display:none;
  }

  .widget.responsiveslideshow .slideshow-widget-wrapper {
      height: 300px;
  }

  .widget.responsiveslideshow .slideshow-widget, .widget.responsiveslideshow .slideshow-image-list {
      height: 240px;
  }

  .widget.responsiveslideshow .slideshow-widget .btn-prev, 
  .widget.responsiveslideshow .slideshow-widget .btn-next {
    top: 25%;
  }


  /* CLICK TO CALL */

  .widget.clicktocall {
    padding: 15px 0;
  }
  
  .widget.clicktocall a {
      margin: 0;
      padding: 13px 13px 13px 34px;
      margin: 1em 0em;
      border: 1px solid darken(@color-swatch2,2%);
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      box-shadow: 0px 0px 10px rgba(255,255,255,0.7), inset 0px 2px 2px rgba(255,255,255,0.3);
    
      font-family: @font-swatch7-font-family;
      font-weight:@font-swatch7-font-weight;
      color: @font-swatch7-color;
      letter-spacing: 3px;
      font-size: .9em;
      text-decoration: none;
      text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    
      background: image('/images/ic-phone.png'), @color-swatch2; 
      background: image('/images/ic-phone.png'), -moz-linear-gradient(top,  lighten(@color-swatch2,10%) 0%, @color-swatch2 100%); 
      background: image('/images/ic-phone.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten(@color-swatch2,10%)), color-stop(100%,@color-swatch2)); 
      background: image('/images/ic-phone.png'), -webkit-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
      background: image('/images/ic-phone.png'), -o-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%); 
      background: image('/images/ic-phone.png'), -ms-linear-gradient(top,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%);
      background: image('/images/ic-phone.png'), linear-gradient(to bottom,  lighten(@color-swatch2,10%) 0%,@color-swatch2 100%);
      background-repeat: no-repeat;
      background-position: left center;
    }
    
    .widget.clicktocall a:hover {
        background-image: image('/images/ic-phone.png');
        background-color: @color-swatch2; 
        cursor: pointer;
    }
    
    .widget.clicktocall a:active {
      box-shadow: inset 0 0 6px rgba(255,255,255,0.9);
    }


   /* GALLERY */

  .widget.gallery li span.inner .title, .widget.gallery li span.inner .description {
  max-height: 150px;
  }

  .widget.gallery ul.gallery-widget li
  {
      width: 50%;
      padding-bottom: 50%;
  }

}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

